.app {
  text-align: center;
  margin-top: 50px;
}

.todo {
  display: flex;
  justify-content: space-between;
  background: #f4f4f4;
  padding: 10px;
  border-bottom: 1px #ccc dotted;
  margin: 5px 0;
}

input {
  padding: 10px;
  margin-right: 10px;
}

button {
  margin: 5px;
}
